{% extends "base.html" %}                   <!--base.html을 상속받는다고 선언-->
{% block title %}방구{% endblock %}    <!--title 블록 재정의-->

{% block content %}                         <!--content 블록 재정의-->

<h1>Bookmark Change - {{user}}</h1>

<table class="change-list">
    <tr>
        <th>TItle</th>
        <th>Url</th>
        <th>Owner</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>

    {% for item in object_list %}
    <tr>
        <td>{{ item.title }}</td>
        <td>{{ item.url }}</td>
        <td>{{ item.owner }}</td>
        <td><a href="{% url 'bookmark:update' item.id %}">Update</a></td>
        <td><a href="{% url 'bookmark:delete' item.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}