#tbl {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    text-align: center;
}

#tbl td, #tbl th {
    border: 1px solid #ddd;
    padding: 15px 15px;
    width: 50px;
}

#tbl #number {
    width: 8%;
}

#tbl tr:nth-child(even){background-color: #f2f2f2;}

#tbl tr:hover {background-color: #ddd;}

#tbl th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background: royalblue;
    color: white;
}

#modification {
    font-weight: bold;
    font-size: x-large;
    float: right;
}

.centered { text-align: center;}
.leftpadding30percent { padding-left: 30%; }

#tag {
    font-weight: bold;
    font-size: large;
}

.modification {
    text-decoration: none;
    float: right;
    font-size: 22px;
    font-weight: bold;
    margin: 0px 40px auto 0px;
}

#disqus {
    margin: 30px auto 30px auto;
    width: 90%;
}
