{% extends "base.html" %}                   <!--base.html을 상속받는다고 선언-->

{% block title %}post_confirm_delete{% endblock %}    <!--title 블록 재정의-->

<!--정적 파일인 css 연결하기 위하여, staticfiles를 로드-->
{% load staticfiles %}
<!--extrastyle 블록을 재정의하여 추가적으로 home.css 연결-->
{% block extrastyle %}{% static "css/home.css" %}{% endblock %}
{% block content %}                         <!--content 블록 재정의-->

<div id="content">
    <h1>Post Delete</h1>

    <form action="" method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}" ?</p>
        <input type="submit" value="Confirm"/>
    </form>
</div>
{% endblock %}





