{% extends "base.html" %}

{% block title %}photo_detail.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "photo/photo.css" %}{% endblock %}

{% block content %}
<div id="content">
    <h2 class="centered">{{ object.title }}</h2>
        <h2 class="centered"><p class="other_photos">
            {% if object.get_previous_photo %}
                <a href="{{ object.get_previous_photo.get_absolute_url }}" title="View previous photo">
                    &laquo;-- {{ object.get_previous_photo }}
                </a>
            {% else %}
                첫 게시글
            {% endif %}

            {% if object.get_next_photo %}
                &nbsp; |&nbsp;&nbsp;
                <a href="{{ object.get_next_photo.get_absolute_url }}" title="View next photo">
                    {{ object.get_next_photo }} --&raquo;
                </a>
            {% else %}
                &nbsp;&nbsp;|&nbsp;&nbsp;마지막 게시글
            {% endif %}
        </p></h2>
    <table class="photo-detail" style="margin-left: auto; margin-right: auto;">
        <tr>
            <td>
                <a href="{{ object.image.url }}">
                    <img class="change_image" style="max-width:100%" src="{{ object.image.url }}" />
                </a>
            </td>
            <td>
                <ul>
                    <li>제목</li>
                    <p>{{ object.title }}</p>
                    <li>설명</li>
                    {% if object.description %}
                        <p>{{ object.description|linebreaks }}</p>
                    {% else %}
                        <p>(blank)</p>
                    {% endif %}
                    <li>등록 일시</li>
                    <p>{{ object.upload_date }}</p>
                    <!--https://docs.djangoproject.com/en/dev/ref/templates/builtins/?from=olddocs-->
                    <li>앨범</li>
                    <p><a href="{% url 'photo:album_detail' object.album.id %}">{{ object.album.name }}</a></p>
                </ul>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
